<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Google 메타데이터 -->
        <meta-data
            android:name="com.google.android.gms.client.default_web_client_id"
            android:value="@string/default_web_client_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- 카카오 로그인 콜백 핸들러 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="kakao${KAKAO_APP_KEY}"
                    android:host="oauth"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${KAKAO_APP_KEY}"/>

        <!-- 런처 액티비티 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 액티비티 목록 -->
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".FindAccountActivity" android:exported="false" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:label="개인정보처리방침"
            android:parentActivityName=".LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity"/>
        </activity>

        <activity android:name=".NotificationActivity" />
        <activity android:name=".ChangeIdPwActivity" />
        <activity android:name=".FitnessLevelActivity"/>
        <activity android:name=".SettingActivity"/>
        <activity android:name=".BodyInfoActivity" />
        <activity android:name=".RoutineUploadActivity" />
        <activity android:name=".RoutineStartActivity" />
        <activity android:name=".RoutineDetailActivity" />
        <activity android:name=".RoutineInputActivity" />
        <activity android:name=".DetailViewActivity" />



    </application>

</manifest>
